<nav class="navbar navbar-light" style="background-color: #ceebd0;">
  <a class="navbar-brand" >Inicio</a>
  <a class="navbar-brand" *ngIf="loginService.isLogged()">Crea tu emprendimiento</a>
  <a class="navbar-brand" >Ver emprendimientos</a>
  <a class="navbar-brand" *ngIf="loginService.isLogged()">Editar perfil</a>
  <a class="navbar-brand" *ngIf="loginService.isLogged()">Editar emprendimiento</a>
  <a class="navbar-brand" *ngIf="loginService.isLogged()" (click)="loginService.logOut()">Cerrar sesion</a>
  <a class="navbar-brand" *ngIf="!loginService.isLogged()" (click)="this.redirectLogin()" >Iniciar sesion</a>
</nav>

<br><br>
